html, body {
  height: 100%;
  margin: 0;
}
header {
    padding: 10px;
    text-align: center;
    background: #d60029;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
  }
  .content {
    padding-bottom: 50px; /*隨footer高度需做調整*/
  }
  footer {
    padding: 20px;
    text-align: center;
    color: white;
    background-color: indigo;
    height: 50px; /*設定footer本身高度*/
    margin-top: -50px; /*隨footer高度需做調整*/
  }
  
  main {
    margin: 0 auto;
    padding: 18px;
  }
  
  .info {color:red;}