<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- css -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  {% load static %}
  <link href="{% static 'css/style.css'%}" rel="stylesheet">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <!-- js -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  <header>
    <h1>Aurotek showroom</h1>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Pudu
        </button>
        <!-- 代辦：更新為現在可以偵測到的機器人 --> 
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
          {% for r in pudu_robot_list %}
          <li><a class="dropdown-item pudu_choose" href="/robot" data-name="{{r.name}}">{{r.name}}</a></li>
          {% endfor %}
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
          Reeman
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
          {% for s in reeman_robot_list %}
          <li><a class="dropdown-item reeman_choose" href="/robot" data-name="{{s.name}}">{{s.name}}</a></li>
          {% endfor %}
        </ul>
    </div>
  </header>

  
  <main>
    {% block main %}
    {% endblock %}
  </main>

  <footer>

  </footer>
</body>
<script>
  $(function(){
      $(".pudu_choose").click(function(e){
          e.preventDefault
          var formdata = new FormData();
          var target = $(this).data('name')
          formdata.append("robot",target)
          formdata.append("type","pudu")
          $.ajax({
              url:"",
              type:"post",
              data:formdata,
              processData:false,
              contentType:false,
              success:function(response){
                  // alert("success")
              },
              error:function(){
                  alert("失敗")
              }

          })
      })

      $(".reeman_choose").click(function(e){
          e.preventDefault
          var formdata = new FormData();
          var target = $(this).data('name')
          formdata.append("robot",target)
          formdata.append("type","reeman")
          $.ajax({
              url:"",
              type:"post",
              data:formdata,
              processData:false,
              contentType:false,
              success:function(response){
                  // alert("success")
              },
              error:function(){
                  alert("失敗")
              }

          })
      })
    })
</script>
</html>