{% extends 'base.html'%}

{% block title %}{{pageTitle}}{% endblock %}

{% block main %}
    {% load static %}
     <!-- PUDU -->
     <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title" align = "center">Bella</h5>
              <img src="{% static 'Image/bella.png'%}" width = 400 class="card-img-top" alt="...">
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
              <a href="/bella" class="btn btn-primary" align = "center">喵喵</a>
            </div>
          </div>
        </div>
  
        <div class="col">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title" align = "center">Pudubot</h5>
              <img src="{% static 'Image/pudubot.png'%}" width = 400 class="card-img-top" alt="...">
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
              <a href="/pudubot" class="btn btn-primary" align = "center">Pudubot</a>
            </div>
          </div>
        </div>
  
        <div class="col">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title" align = "center">Hola</h5>
              <img src="{% static 'Image/hola.png'%}" width = 400 class="card-img-top" alt="...">
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
              <a href="/hola" class="btn btn-primary" align = "center">拉拉</a>
            </div>
          </div>
        </div>
      </div>
  
      <!-- REEMAN -->
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title" align = "center">飛船</h5>
              <img src="{% static 'Image/boat.png'%}" width = 400 class="card-img-top" alt="...">
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
              <a href="/boat" class="btn btn-primary" align = "center">飛船</a>
            </div>
          </div>
        </div>
  
        <div class="col">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title" align = "center">大狗</h5>
              <img src="{% static 'Image/dog.png'%}" width = 400 class="card-img-top" alt="...">
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
              <a href="/dog" class="btn btn-primary" align = "center">大狗</a>
            </div>
          </div>
        </div>
      </div>
{% endblock %}