#Sidebar{
    width:120px;
    float:left;
    height:280px;
    text-align:center;
    line-height:280px;
    font-size:15px;
    color:#ffffff;
    font-weight:bold;
    background-color:#cecece;
}
#body{
    width:240px;
    height:280px;
    text-align:center;
    line-height:280px;
    font-size:15px;
    color:#f9c81e;
    font-weight:bold;
    background-color:#fffaf3;
    float:left;
}